body {
  /* height: 100vh;
  width: 100vw;
  background-color: #151515;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; */
  background: rgb(1, 0, 24);
  background: linear-gradient(
    0deg,
    rgba(1, 0, 24, 1) 0%,
    rgba(0, 53, 96, 1) 46%,
    rgba(0, 57, 103, 1) 54%,
    rgba(0, 19, 36, 1) 100%,
    rgba(1, 0, 24, 1) 100%,
    rgba(5, 97, 179, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.game-container {
  /* padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff11;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.lds-dual-ring {
  color: white;
  text-align: center;
  align-items: center;
}

.lds-dual-ring:before {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

canvas {
  min-height: 720px;
  max-width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  outline: #0015ff;
  -webkit-tap-highlight-color: rgb(8, 0, 255); /* mobile webkit */
}

#bevy {
  z-index: 2;
}
