* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  background-color: #151515;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
  align-items: center;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:before {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

canvas {
  outline: #0015ff;
  -webkit-tap-highlight-color: rgb(8, 0, 255); /* mobile webkit */
}

#bevy {
  z-index: 2;
}
